{% extends 'base.html.twig' %}

{% block title %}Nouveau type{% endblock %}

{% block body %}
    <h1>Créer un nouveau type de plante</h1>

    {{ include('back/type/_form.html.twig') }}

    <a class="btn" href="{{ path('type_index') }}">Retour à la liste</a>
{% endblock %}
