@use 'src/styles/vars';
@use 'sass:color';

.catalog {
  width: 1700px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
  flex-grow: 1;
  padding: vars.$gutter/2;
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  &-title {
    text-align: center;
    font-family: Bodoni Moda,serif;
    color: #234523;
    font-size: 1.8em;
    font-weight: 600;
    color: vars.$color-green;
  }
  &-text {
    padding-top: vars.$gutter/3;
    padding-bottom: vars.$gutter/2;
    text-align: center;
    line-height: 1.5rem;
  }
}

@media only screen and (min-width: 800px) {
  .catalog {
    padding: vars.$gutter*3;
  }
}
